#about-page {
	width: 350px;

	.centered-logo {
		background-image: url("/images/salus-logo.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		height: 45px;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.group {
		margin-top: 10px;
	}

	.title,
	.text {
		font-size: 16px;
	}

	.copyright-text {
		text-align: center;
		margin-top: 15px;
	}
}