// TODO - delete modals' scss files that are replaced by AlertModal
#alert-modal {
	.button-group {
		margin-bottom: 20px;
	}

	.modal-button {
		margin-top: 20px;
	}

	.modal-primary-text {
		margin-top: 25px;
		margin-bottom: 5px;
		color: $BLU1;
	}
}