.dashboard-background-color {
	background-color: $TILE-MANAGER-BG;
}


.dashboard-tile-manager-container {
    position: relative; // This is the magic that centers the tiles when the tile manager is centered
    margin: 0 auto;
    // overflow: auto; // removed for sortable scroll to work

   @media only screen and (min-width: 320px) {
        width: 310px;
    }
    @media only screen and (max-width: 321px) {
        margin-left: -4px;
    }
    @media only screen and (min-width: 480px) {
        width: 465px;
    }
    @media only screen and (min-width: 786px) {
        width: 620px;
    }
    @media only screen and (min-width: 880px) {
        width: 775px;
    }
    @media only screen and (min-width: 1024px) {
        width: 930px;
    }
    @media only screen and (min-width: 1280px) {
        width: 1085px;
    }
    @media only screen and (min-width: 1360px) {
        width: 1085px;
    }
}
.dashboard-modal-container {
	display: none;
	border: 1px solid #ccc;
	position: absolute;
	top: -30px;
	left: 0;
	background-color: #09487a;
	padding: 10px 0;
	overflow: auto;
	width: 100%;

	.bb-dashboard-group-container-name {
		float: left;
		height: 34px;
		font-size: 16px;
		line-height: 12px;
		padding: 6px 0 6px 20px;
		word-break: break-word;
		color: #fff;
		width: 300px;
	}

	.close-icon.close-icon {
		top: 0;
		right: 0;
		position: absolute;
		background-size: contain;
		width: 40px;
		height: 40px;
		z-index: 10;
		cursor: pointer;
		background: url("/images/icons/dashboard/icon_close_x.svg") no-repeat center;
	}
}

.bb-dashboard-group-container {
	min-height: 350px;
	z-index: 5;
}

.dashboard-header-container {
	max-height: 360px;
	width: 100%;
}

.inner-header {
	width: 100%;
	height: 100%;
}

.dashboard-tiles {
	.tile {
		.front {
			&:hover {
				box-shadow: 0 0 0 3px rgba($WHT0, 0.8);
			}

			&:hover:active {
				box-shadow: 0 0 0 3px rgba($WHT0, 1.0);
			}
		}
	}
}

.settings-panel {
	color: $WHT0;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(1, 28, 49, 0.95);
	z-index: 3;
	width: 50%;

	@media(min-width: $screen-sm-min) {
		width: 40%;
	}

	.settings-close-button {
		background: url("/images/icons/dashboard/icon_close_x.svg") no-repeat right 85% / 60%;
		width: 22px;
		height: 22px;
		opacity: 0.6;
		cursor: pointer;

		&:active {
			opacity: 1.0;
		}

		@media (min-width: $screen-sm-min) {
			width: 32px;
			height: 32px;
		}
	}

	.button-text {
		display: inline-block;
		font-size: 9px;

		@media (min-width: $screen-sm-min) {
			font-size: 15px;
		}

		@media (min-width: $screen-md-min) {
			font-size: 18px;
		}

		@media (min-width: $screen-lg-min) {
			font-size: 20px;
		}
	}

	.icon-container {
		display: inline-block;
		margin-right: 3px;
		margin-left: 4px;
		margin-top: 3px;

		@media (min-width: $screen-xs-min) { // 480px
			margin-left: 10px;
			margin-right: 10px;
		}

		@media (min-width: $screen-sm-min) {
			margin-left: 20px;
			margin-right: 20px;
		}

		@media (min-width: $screen-md-min) {
			margin-left: 10px;
			margin-right: 10px;
		}

		@media (min-width: $screen-lg-min) {
			margin-left: 20px;
			margin-right: 18px;
		}
	}

	.settings-menu-btn-region {
		margin-top: 15px;
		margin-bottom: 15px;
		padding-left: 3px;
		padding-right: 2px;

		&:last-of-type {
			margin-top: 0;
		}

		@media (min-width: $screen-xs-min) { // 480px
			padding-left: 10px;
			padding-right: 10px;
		}

		@media (min-width: $screen-sm-min) {
			margin-top: 80px;
			margin-bottom: 80px;
		}
	}

	.settings-menu-button {
		width: 100%;
		border: 2px solid white;
		border-radius: 5px;

		&:hover {
			cursor: pointer;
		}
	}

	.icon {
		background-size: contain;
		background-repeat: no-repeat;
		width: 24px;
		height: 24px;

		@media(min-width: $screen-sm-min) {
			height: 36px;
			width: 36px;
		}

		&.icon-camera {
			background-image: url("/images/icons/dashboard/icon_camera.svg");
		}

		&.icon-scan {
			background-image: url("/images/icons/dashboard/icon_scan_my_home.svg");
		}

		&.icon-folder {
			background-image: url("/images/icons/dashboard/icon_folder.svg");
		}
	}

	.open-folder-button {
		input[type="file"] {
			display: none;
		}

		.open-folder-label {
			//setting label back to defaults.
			display: block;
			font-weight: inherit;
			margin-bottom: inherit;

			&:hover {
				cursor: pointer;
			}
		}
	}
}

.settings-button {
	position: relative;
	float: right;
	height: 30px;
	width: 30px;

	@media(min-width: $screen-sm-min) {
		width: 50px;
		height: 50px;
	}

	&:hover {
		cursor: pointer;
	}

	.folded-corner {

		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			border-width: 0 30px 30px 0;
			border-radius: 0;
			border-style: solid;
			border-color: #09385F #09487A;

			@media(min-width: $screen-xs-min) {
				border-width: 0 50px 50px 0;
			}
		}
	}

	.gear-icon {
		right: 2px;
		top: 2px;
		position: absolute;
		background-image: url("/images/icons/dashboard/icon_settings_gear.svg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 13px;
		height: 13px;

		@media(min-width: $screen-xs-min) {
			width: 18px;
			height: 18px;
			right: 5px;
			top: 5px;
		}
	}
}

.dashboard-header-main {
	position: relative;
	width: calc(100% - 20px);
	left: 10px;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	overflow: hidden;

	@media (min-width: $screen-sm-min) {
		width: 100%;
		left: 0;
	}

}

.dashboard-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $BLK0;
	pointer-events: none;
	width: 100%;
	height: 100%;

	.fade {
		opacity: 0;
		filter: alpha(opacity=0);
	}

	&.in {
		opacity: 0.6;
		filter: alpha(opacity=60);
	}
}

/* packery clearfix */
.packery:after {
	content: ' ';
	display: block;
	clear: both;
}

.tile-manager {
	margin-top: 30px;

	&.tile-manager-type-small {
		max-height: $LARGE-TILE-SIZE;
	}

	&.not-visible {
		display: none !important;
	}
}

.dashboard-header-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.weather {
	// mobile to be 50% desktop size
	color: $WHT0;
	width: 50px;
	margin: 10px;
	padding: 0;

	@media (min-width: $screen-sm-min) {
		width: 100px;
		margin: 20px;
	}

	.icon-degrees-container {
		height: 30px;

		@media (min-width: $screen-sm-min) {
			height: 60px;
		}

		.weather-icon {
			width: 23px;
			margin-right: 2px; // gives some space between icon and temperature
			height: 30px;
			background-repeat: no-repeat;
			background-position: top;
			background-size: contain;

			@media (min-width: $screen-sm-min) {
				width: 48px;
				height: 60px;
			}
		}

		.degrees-label-container {
			font-size: 12px;
			width: 25px;
			height: 30px;

			@media (min-width: $screen-sm-min) {
				font-size: 24px;
				width: 50px;
				height: 60px;
			}

			.degrees-label-base {
				width: 25px;
				height: 15px;
				text-align: right;

				@media (min-width: $screen-sm-min) {
					width: 50px;
					height: 30px;
				}

				&:after {
					// deg
					content: "\00b0"
				}
			}

			.degrees-label-decimal {
				font-size: 9px;

				@media (min-width: $screen-sm-min) {
					font-size: 18px;
				}
			}

			.degrees-label-metric {
				height: 15px;
				margin-right: 3.5px;

				@media (min-width: $screen-sm-min) {
					height: 30px;
					margin-right: 7px;
				}
			}
		}
	}

	.gateway-time-container {
		font-weight: lighter;
		height: 17px;

		@media (min-width: $screen-sm-min) {
			height: 34px;
		}

		.gateway-time-local {
			font-size: 15px;
			height: 17px;
			text-align: center;
			float: center;
			width: 100%;

			@media (min-width: $screen-sm-min) {
				font-size: 30px;
				height: 34px;
			}
		}

		.gateway-time-amPm {
			font-size: 9px;
			height: 17px;
			float: right;
			width: 25%;
			padding-top: 6px;
			padding-left: 1px;

			@media (min-width: $screen-sm-min) {
				font-size: 18px;
				height: 34px;
				padding-top: 13px;
			}
		}
	}

	#weather-separator {
		border-top: 1px solid $WHT0;
		height: 1px;
		width: 50px;
		margin-top: 2.5px;

		@media (min-width: $screen-sm-min) {
			margin-top: 5px;
			width: 100px;
		}
	}
}

.gateway-info {
	height: 50px;
	color: $WHT1;
	font-weight: normal;

	.gateway-connection {
		width: 26px;
		height: 26px;
		background: url("/images/icons/icon_alert_red.svg") no-repeat center/contain;

		&.online {
			background: url("/images/icons/icon_check_green.svg");
		}
	}
}

.dashboard-scan {
	color: $WHT0;

	.close {
		height: 20px;
		width: 20px;
		background: url("/images/icons/dashboard/icon_close_x.svg") no-repeat center;
		background-size: contain;
		opacity: 0.5;

		//TODO change opacity to 1.0 when clicked
	}
}

.scan-time {
	color: $GRY_LT1;
	font-weight: lighter;
}

.scan-results-control {
	float: right;
	width: 24px;
	height: 20px;
	margin-right: 6px;
	margin-bottom: 8px;
	cursor: pointer;
	background: no-repeat center;
	background-size: contain;

	&.eye-close {
		background-image: url("/images/icons/dashboard/icon_hide_detail_eye.svg");
	}
	
	&.eye-open {
		background-image: url("/images/icons/dashboard/icon_show_detail_eye.svg");
	}

	@media (min-width: $screen-sm-min) {
		width: 36px;
		height: 28px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
}

.scan-status-container {
	left: 0;
	right: 0;
}

.scan-overlay {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

.scan-results-region {
	background-color: $WHT0;
	margin-top: -4px;
	max-height: 600px;
	overflow: scroll;
	width: calc(100% - 20px);
	left: 10px;

	@media (min-width: $screen-sm-min) {
		width: 100%;
		left: 0;
	}

	.category-title {
		color: $BLU4;
		font-size: 20px;
		padding: 16px 10px;

		@media (min-width: $screen-sm-min) {
			font-size: 24px;
			padding: 20px 30px;
		}
	}
}

.dashboard-scan-results-device {
	padding: 20px 0;

	&:nth-child(even) {
		background-color: $GRY_LT2;
	}

	.device-name {
		color: $GRY3;
		font-size: 14px;
		cursor: default;

		@media (min-width: $screen-sm-min) {
			font-size: 18px;
		}
	}

	.device-msg {
		color: #8c979c;
		font-size: 12px;
		cursor: default;

		@media (min-width: $screen-sm-min) {
			font-size: 18px;
		}

		.device-msg-top {
			width: 100%;
		}

		.device-msg-bottom {
			font-size: 10px;
			width: 100%;
			text-transform: lowercase;

			&:first-letter {
				text-transform: capitalize;
			}

			@media (min-width: $screen-sm-min) {
				font-size: 16px;
				font-weight: 300;
			}
		}
	}

	.device-connectivity-icon {
		width: 20px;
		height: 20px;
		background: url("/images/icons/dashboard/icon_circle_grey.svg") no-repeat center/contain;

		&.online {
			background-image: url("/images/icons/dashboard/icon_circle_check_green.svg");
		}

		&.offline {
			background-image: url("/images/icons/dashboard/icon_circle_red.svg");
		}

		@media (min-width: $screen-sm-min) {
			width: 30px;
			height: 30px;
		}
	}
}

.overlay-scan-cancel {
	background: rgb(0, 28, 50);
	background: rgba(0, 28, 50, 0.95);

	.cancel-text {
		text-align: center;
		padding: 20px;
	}

	.optn-btn {
		min-height: 55px;
		min-width: 105px;
		font-size: 20px;
	}

	.scan-cancel-btn-container {
		width: 250px;
		margin: 0 auto;
	}

	.cancel-scan-btn-no {
		float: left;
	}
	.cancel-scan-btn-yes {
		float: right;
	}
}
