#manage-device-page {
	color: $COLOR-TEXT;
	font-weight: 600;

	.h1 {
		color:  $COLOR-HEADER;

		font-size: 24px;
		margin-top: 28px - $navbar-margin-bottom;
		@media (min-width: $screen-sm-min) {
			font-size: 32px;
			margin-top: 73px - $navbar-margin-bottom;
		}
	}

	.h2 {
		color: $BLU3;

		font-size: 20px;
		margin-bottom: 20px;
		@media (min-width: $screen-sm-min) {
			font-size: 24px;
			margin-bottom: 15px;
		}
	}

	.list-table {
		border: 1px solid $GRY_LT1;
		border-width: 1px 0px;

		margin-top: 36px;
		margin-bottom: 0;

		> .list-table-item {
			display: flex; //this give the ul.list-table height.

			padding: 20px 0;
			border: 1px solid $GRY_LT1;
			border-width: 1px 0 0 0;

			&.edit-enabled {
				background-color: $GRY_LT2;
			}
		}

		> .list-table-item:first-child {
			border-top: 0px
		}
	}

	.shareable-table-header {
		padding: 0px;
		font-weight: bold;
	}

	.shareable-device-list {
		margin-bottom: 20px;
	}

	.shareable-table {
		border: none;
		margin-top: 15px;

		.share-table-item {
			display: flex;
			padding: 8px 0;
		}
	}

	.shares-list-new {
		.list-table {
			margin-top: 0;

			border-top: none;
		}
	}

	.device-status {
		@media (max-width: $screen-sm-max) {
			text-align: right;
		}
	}

	.user-email {
		word-wrap: break-word;
	}

	.gateway-table {
		.list-table-item {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.device-form {
	margin-top: 20px;
}

.gateway-list-device-name, .device-name {
	color: $BLU2;
	cursor: pointer;
}

.add-gateway {
	float: right;
	margin-top: 15px;
	cursor: pointer;
}

.add-gateway-text {
	margin-right: 5px;
	line-height: 24px;
	vertical-align: middle;
}

.add-device {
	float: right;
	margin-top: 15px;

	cursor: pointer;
}

.add-device-text {
	margin-right: 5px;
	line-height: 24px;
	vertical-align: middle;
}

.icon-add {
	position: relative;

	height: 24px;
	width: 24px;

	display: inline-block;
	border-radius: 12px;

	background-color: $BLU1;

	&:after {
		content: "+";

		margin-left: 6px;

		line-height: 24px;
		font-size: 20px;
		color: $WHT0;
	}
}

.mode-create {
	.device-form-delete {
		display: none;
	}
}

.mode-edit {
	.device-form-header,
	.country {
		display: none;
	}
}
