.message-center-page {
	@extend _default-page;

	.sub-header {
		font-size: 15px;
		height: 20px;
	}



	.alerts-tab {
		padding-top: 20px;

		.alert-table {
			border-top: 1px solid $GRY_LT1;
		}

		.header-row {
			padding: 15px 10px 15px 10px;
			border-bottom: 1px solid $GRY_LT1;
			color: $GRY_LT4;

			.sort-arrow-icon {
				background-position: center;
				background-repeat: no-repeat;
				height: 8px;
				width: 12px;
				margin-left: 8px;

				&.show-arrow {
					background-image: url("/images/icons/icon_arrow_down_blue.svg");

					&.point-arrow-up {
						padding-left: 0px;
						padding-right: 3px;
						-webkit-transform: rotate(180deg);
						-moz-transform: rotate(180deg);
						-ms-transform: rotate(180deg);
						-o-transform: rotate(180deg);
						transform: rotate(180deg);
					}
				}
			}
		}

		.alert-table-row {
			padding: 26px 10px;
			border-bottom: 1px solid $GRY_LT1;

			&.expanded-bg {
				background-color: $GRY_LT2;
			}

			// NOTE: For the content regions to expand smoothly, the margins have been added to these specific elements
			.detail-and-status-regions {
				margin-top: 50px;
			}

			// NOTE: For the content regions to expand smoothly, the margins have been added to these specific elements
			.criteria-region {
				margin-bottom: 20px;

				.status-icon {
					height: 26px;
					width: 26px;
					margin-right: 20px;
					background-repeat: no-repeat;
					background-position: center;
				}
			}

			span {
				display: inline-block;
			}

			.pencil-icon {
				height: 22px;
				background-image: url("/images/icons/icon_edit_blue.svg");
				background-position: center;
				background-repeat: no-repeat;
			}

			.delete-icon {
				height: 22px;
				background-image: url("/images/icons/icon_delete_red.svg");
				background-position: center;
				background-repeat: no-repeat;
			}

			.status-row, .detail-row, .compos-header-row {
				padding-bottom: 25px;
			}

			.compos-header-row {
				color: $GRY_LT4;
			}
		}
	}

	.notifications-tab {
		padding-top: 20px;
		border-bottom: 1px solid $GRY_LT1;

		.month-header {
			padding: 15px 20px;
			border-top: 1px solid $GRY_LT1;
			color: $GRY_LT4;

			&.affix {
				top: 10px;
			}
		}

		.notification-row {
			padding-top: 30px;
			padding-bottom: 30px;
			border-top: 1px solid $GRY_LT1;
		}

		.notif-text {
			padding-top: 15px;
		}
	}

	.alarm-sounding {
		margin-top: -16px;

		.alert {
			margin-bottom: 23px;
		}
	}

	.alert {
		padding-top: 3px;
		padding-bottom: 3px;

		> .status-icon {
			background-size: contain;
			background-repeat: no-repeat;
			background-position: left center;
			padding-left: 30px;
			margin-right: 0px;
			height: 100%;
			width: 100%;
		}
	}

	.status-icon {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		height: 21px;
		width: 21px;
		margin-right: 20px;


		&.status-red {
			background-image: url("/images/icons/icon_alert_red.svg");
		}
	}

	.notif-title, .alert-name {
		color: $BLU4;
		font-size: 16px;
	}
}