.nav-tabs-centered {
	.nav-tabs {
		display: table;
		margin: 26px auto 0px auto;
		border-bottom: transparent !important;
		font-size: 14px;

		:first-child {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}

		:last-child {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}

		li {
			border: 1px solid $GRY_LT1;
			width: 108px;

			a {
				padding: 8px 0px;
				margin-right: 0px;
				cursor: pointer;
			}

			&.active {
				background-color: $BLU1;
				border-color: $BLU1;

				a {
					color: $WHT0;
					background-color: $BLU1;
					cursor: pointer;
				}
			}
		}

		a {
			border: none !important;
			color: $GRY3;
		}
	}
}