.schedule-menu-row {
	padding: 40px 0;
	background-color: $GRY_LT2;
	margin-top: 30px;
	margin-bottom: 35px;

	@media (min-width: $screen-sm-min) {
		margin-top: 60px;
		margin-bottom: 70px;
	}

	.clock-icon {
		width: 27px;
		height: 27px;
		background: url("/images/icons/myEquipment/icon_customized_schedule.svg") no-repeat center;
		background-size: contain;

		@media (min-width: $screen-sm-min) {
			width: 46px;
			height: 46px;
		}
	}

	.text-wrapper {
		color: $BLK1;
		font-size: 14px;

		@media (min-width: $screen-sm-min) {
			font-size: 20px;
		}

		.schedules-subtext {
			font-weight: 400;
			font-size: 12px;

			@media (min-width: $screen-sm-min) {
				font-size: 18px;
			}
		}
	}

	.schedules-button {
		button {
			display: inherit;
			width: 100%;
			max-width: 220px;
			margin: 0 auto;
		}
	}
}

// TODO: 'success' area/pane styling

$SINGLE-CONTROL-ARC-WIDTH-HEIGHT: 188px;

// single controls section
.single-controls {
	.edit-icon {
		width: 24px;
		height: 24px;
		background: url("/images/icons/myEquipment/icon_edit_blue.svg") no-repeat center;
		background-size: contain;
		float: right;
		margin-bottom: 10px;
		margin-right: 10px;

		@media (min-width: $screen-sm-min) {
			width: 28px;
			height: 28px;
			margin-bottom: 20px;
		}
	}

	.single-control {
		margin-bottom: 10px;

		@media (min-width: $screen-sm-min) {
			margin-bottom: 20px;
		}
	}

	.single-controls-header {
		font-size: 24px;
		font-weight: 600;
		color: $BLU3;
	}

	.single-controls-container {
		border-top: 1px solid $GRY_LT1;
		margin-top: 20px;
		padding-top: 30px;

		@media (min-width: $screen-sm-min) {
			padding-bottom: 10px;
		}
	}

	.single-control-tile {
		@include color-gradient-with-angle(145deg, $TILE-GREEN-GRADIENT-TOP, 0%, $TILE-GREEN-GRADIENT-BOTTOM, 100%);
		width: 72px;
		height: 72px;

		@media (min-width: $screen-sm-min) {
			width: 300px;
			height: 300px;
		}
	}

	.tsc-info-container {
		@media (min-width: $screen-sm-min) {
			margin-left: 10px;
		}
	}

	.thermostats-in {
		font-size: 14px;
		font-weight: 600;
		color: $GRY3;
		margin-bottom: 10px;

		@media (min-width: $screen-sm-min) {
			font-size: 20px;
			margin-bottom: 20px;
		}
	}

	.devices-container {
		font-size: 12px;
		color: $GRY3;

		@media (min-width: $screen-sm-min) {
			font-size: 18px;
		}

		.tsc-device {
			margin-bottom: 12px;

			@media (min-width: $screen-sm-min) {
				margin-bottom: 24px;
			}
		}
	}

	.single-control-name {
		position: absolute;
		font-size: 10px;
		top: 75%;
		left: 5%;
		color: $WHT0;
		cursor: default;
		width: 95%;
		overflow: hidden;
		text-overflow: ellipsis;

		@media (min-width: $screen-sm-min) {
			font-size: 18px;
			top: 4%;
			left: 5%;
		}
	}

	.tstat-count-group {
		position: absolute;
		top: 10px;
		left: 23px;
		width: 12px;
		height: 12px;

		@media (min-width: $screen-sm-min) {
			top: 84%;
			left: 5%;
			width: 10%;
			height: 10%;
		}

		.chain-link {
			position: absolute;
			width: 100%;
			height: 100%;
			background: url("/images/icons/myEquipment/icon_link.svg") no-repeat left;
			background-size: contain;
		}

		.thermostat-count {
			position: absolute;
			color: $WHT0;
			font-size: 10px;
			right: -4px;
			bottom: -7px;

			@media (min-width: $screen-sm-min) {
				font-size: 18px;
				right: -7px;
				bottom: -7px;
			}
		}
	}

	.thermometer-icon {
		position: absolute;
		width: 18px;
		height: 30px;
		top: 5px;
		left: 5px;
		background: url("/images/icons/dashboard/icon_temp_off.svg") no-repeat center;
		background-size: contain;
	}

	.arc-group {
		width: $SINGLE-CONTROL-ARC-WIDTH-HEIGHT !important;
		height: $SINGLE-CONTROL-ARC-WIDTH-HEIGHT !important;
	}

	.tstat-arc {
		width: $SINGLE-CONTROL-ARC-WIDTH-HEIGHT !important;
		height: $SINGLE-CONTROL-ARC-WIDTH-HEIGHT !important;

		.rs-container {
			width: $SINGLE-CONTROL-ARC-WIDTH-HEIGHT !important;
			height: $SINGLE-CONTROL-ARC-WIDTH-HEIGHT !important;
			margin: 0 auto;
			border-radius: 50%;
			background-color: transparent;
		}

		.rs-inner {
			@include color-gradient-with-angle(135deg, $TILE-GREEN-GRADIENT-TOP, -40%, $TILE-GREEN-GRADIENT-BOTTOM, 170%);
			@include dropshadow(0px, 3px, 3px, 0px, rgba(0, 0, 0, 0.4), false);
		}

		/* the area behind of the range slider, its usually darker in color */
		.rs-range-color {
			background-color: $TILE-GREEN-INNER-TRACK;
		}

		/* the area in front of the range slider, its usually lighter in color */
		.rs-path-color {
			background-color: $TILE-TSTAT-OUTER-CIRCLE-GREEN-GRADIENT-BOTTOM;
		}

		.rs-seperator {
			border: none;
		}

		/* roundslider.js readonly class sets the arc to position absolute, we override it so to keep our arc center */
		.rs-readonly {
			position: relative;
		}

		.rs-handle {
			@include dropshadow(0px, 0px, 7px, 0px, $COLOR-SHADOW, false);
			background: $GRY_LT2;
			cursor: default;
		}

		.rs-border {
			border-color: transparent;
		}

		.rs-overlay {
			@include color-gradient-with-angle(290deg, $TILE-GREEN-GRADIENT-TOP, -125%, $TILE-GREEN-GRADIENT-BOTTOM, 170%);
		}

		.rs-tooltip-text {
			@include center-vertical-horizontal-absolute();
			margin-top: -2px !important;
			margin-left: 0px !important;
			font-size: 40px;
			font-weight: lighter;
			font-family: 'Open Sans', sans-serif;
			color: $WHT0;

			&:after {
				content: "\00b0";
				position: absolute;
				top: 0;
			}
		}
	}

	.create-tsc {
		margin-bottom: 10px;

		@media (min-width: $screen-sm-min) {
			margin-bottom: 20px;
		}
	}

	.create-tsc-wrapper {
		width: 72px;
		height: 72px;
		border: 1px dashed $GRY5;
		padding: 0 1px;

		@media (min-width: $screen-sm-min) {
			width: 300px;
			height: 300px;
		}

		.create-tsc-tile-background {
			background: url("/images/icons/icon_add_gray.svg") no-repeat center 74% / 26%;
			height: 100%;

			@media (min-width: $screen-sm-min) {
				background-position-y: 63%;
				background-size: 23%;
			}
		}

		.create-tsc-text {
			@include set-responsive-font-size(15px, 22px, true);
			text-align: center;
			padding-top: 5%;
			color: $GRY6;
			font-weight: 100;

			@media (min-width: $screen-sm-min) {
				font-size: 22px !important;
				padding-top: 28%;
			}
		}
	}
}

// individual controls section
.individual-controls {
	border-top: 1px solid $GRY_LT1;

	.individual-controls-header {
		font-size: 24px;
		font-weight: 600;
		color: $BLU3;
		margin-top: 20px;
		margin-bottom: 20px;

		@media (min-width: $screen-sm-min) {
			margin-top: 50px;
			margin-bottom: 30px;
		}
	}

	.individual-controls-container {
		margin-bottom: 30px; // page bottom

		.individual-thermostat {
			@include color-gradient-with-angle(135deg, $TILE-GREEN-GRADIENT-TOP, 0%, $TILE-GREEN-GRADIENT-BOTTOM, 100%);
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 20px;
			width: 72px;
			height: 72px;

			@media (min-width: $screen-sm-min) {
				width: 300px;
				height: 300px;
			}

			.thermometer-icon {
				position: absolute;
				width: 18px;
				height: 30px;
				top: 5px;
				left: 5px;
				background: no-repeat center;
				background-image: url("/images/icons/dashboard/icon_temp_off.svg");
				background-size: contain;
			}

			&.add-new {
				// remove the green gradient for the add new equipment tile
				background: 0;
				border: 1px dashed $GRY5;

				.add-new-tile-background {
					height: 100%;

					@media (max-width: $screen-xs-max) {
						background-size: 38%;
						background-position-y: 74%;
					}
				}

				.add-new-tile-text.regular-text {
					// .small-text
					@include set-responsive-font-size(15px, 16px, true);
					padding-top: 10%;

					@media (min-width: $screen-sm-min) {
						@include set-responsive-font-size(22px, 22px, true);
						padding-top: 28%;
					}
				}
			}

			&.heating {
				@media (min-width: $screen-sm-min) {
					@include color-gradient-with-angle(135deg, $TILE-ORANGE-GRADIENT-TOP, 0%, $TILE-ORANGE-GRADIENT-BOTTOM, 100%);
				}

				.thermometer-icon {
					background-image: url("/images/icons/dashboard/icon_temp_heat.svg");
				}

				.rs-inner {
					@include color-gradient-with-angle(135deg, $TILE-ORANGE-GRADIENT-TOP, -40%, $TILE-ORANGE-GRADIENT-BOTTOM, 170%);
				}

				/* the area behind of the range slider, its usually darker in color */
				.rs-range-color {
					background-color: $TILE-ORANGE-GRADIENT-BACKFILL;
				}

				/* the area in front of the range slider, its usually lighter in color */
				.rs-path-color {
					background-color: $TILE-ORANGE-GRADIENT-FORWARDFILL;
				}

				.rs-overlay {
					@include color-gradient-with-angle(290deg, $TILE-ORANGE-GRADIENT-TOP, -125%, $TILE-ORANGE-GRADIENT-BOTTOM, 170%);
				}
			}

			&.cooling {
				@media (min-width: $screen-sm-min) {
					@include color-gradient-with-angle(135deg, $TILE-LIGHT-BLUE-GRADIENT-TOP, 0%, $TILE-LIGHT-BLUE-GRADIENT-BOTTOM, 100%);
				}

				.thermometer-icon {
					background-image: url("/images/icons/dashboard/icon_temp_cool.svg");
				}

				.rs-inner {
					@include color-gradient-with-angle(135deg, $TILE-LIGHT-BLUE-GRADIENT-TOP, -40%, $TILE-LIGHT-BLUE-GRADIENT-BOTTOM, 170%);
				}

				/* the area behind of the range slider, its usually darker in color */
				.rs-range-color {
					background-color: $TILE-LIGHT-BLUE-GRADIENT-BACKFILL;
				}

				/* the area in front of the range slider, its usually lighter in color */
				.rs-path-color {
					background-color: $TILE-LIGHT-BLUE-GRADIENT-FORWARDFILL;
				}

				.rs-overlay {
					@include color-gradient-with-angle(290deg, $TILE-LIGHT-BLUE-GRADIENT-TOP, -125%, $TILE-LIGHT-BLUE-GRADIENT-BOTTOM, 170%);
				}
			}
		}

		.thermostat-name {
			position: absolute;
			font-size: 10px;
			top: 75%;
			left: 5%;
			color: $WHT0;
			cursor: pointer;
			width: 95%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			@media (min-width: $screen-sm-min) {
				font-size: 18px;
				top: 4%;
				left: 5%;
			}
		}

		.degrees-label {
			position: absolute;
			font-size: 11px;
			color: $WHT0;
			top: 8px;
			left: 22px;
		}

		.tstat-control-group {
			float: left;
			position: relative;
			width: 40px;
			height: $SINGLE-CONTROL-ARC-WIDTH-HEIGHT;
			margin-top: 70px;
			margin-left: 20px;

			.center-controls {
				@include center-vertical-horizontal-absolute();
				width: 31px;
				height: 115px;
			}
		}

		.tstat-control-icon {
			margin-bottom: 31px;
			width: 31px;
			height: 31px;
		}

		.arc-group {
			width: $SINGLE-CONTROL-ARC-WIDTH-HEIGHT !important;
			height: $SINGLE-CONTROL-ARC-WIDTH-HEIGHT !important;
			margin-top: 70px;
			margin-left: 25px;
			position: relative;
			float: left;
		}

		.tstat-arc {
			width: $SINGLE-CONTROL-ARC-WIDTH-HEIGHT !important;
			height: $SINGLE-CONTROL-ARC-WIDTH-HEIGHT !important;
			z-index: 1;

			.rs-container {
				@include center-vertical-horizontal-absolute();
				width: $SINGLE-CONTROL-ARC-WIDTH-HEIGHT !important;
				height: $SINGLE-CONTROL-ARC-WIDTH-HEIGHT !important;
			}

			.rs-inner {
				@include color-gradient-with-angle(135deg, $TILE-GREEN-GRADIENT-TOP, -40%, $TILE-GREEN-GRADIENT-BOTTOM, 170%);
				@include dropshadow(0px, 3px, 3px, 0px, rgba(0, 0, 0, 0.4), false);
			}

			/* the area behind of the range slider, its usually darker in color */
			.rs-range-color {
				background-color: $TILE-GREEN-INNER-TRACK;
			}

			/* the area in front of the range slider, its usually lighter in color */
			.rs-path-color {
				background-color: $TILE-TSTAT-OUTER-CIRCLE-GREEN-GRADIENT-BOTTOM;
			}

			.rs-seperator {
				border: none;
			}

			/* roundslider.js readonly class sets the arc to position absolute, we override it so to keep our arc center */
			.rs-readonly {
				position: relative;
			}

			.rs-handle {
				@include dropshadow(0px, 0px, 7px, 0px, $COLOR-SHADOW, false);
				background: $GRY_LT2;
				cursor: default;
			}

			.rs-border {
				border-color: transparent;
			}

			.rs-overlay {
				@include color-gradient-with-angle(290deg, $TILE-GREEN-GRADIENT-TOP, -125%, $TILE-GREEN-GRADIENT-BOTTOM, 170%);
			}
		}

		.arc-output {
			@include center-vertical-horizontal-absolute();
			width: 103px;
			height: 103px;
			z-index: 1;
		}

		.arc-set-point-temp {
			font-size: 40px;
			line-height: 58px;
			font-weight: lighter;
			color: $WHT0;
			text-align: right;
			height: 50%;
			transition: font 0.3s ease;

			&.updating {
				font-size: 50px;
				line-height: 50px;
			}
		}

		.arc-current-temp {
			border-top: 2px solid $WHT0;
			font-size: 21px;
			font-weight: lighter;
			color: $WHT0;
			text-align: right;
		}

		/* Adding the degrees symbol to each temperature value */
		.arc-set-point-temp, .arc-current-temp {
			&:after {
				content: "\00b0"
			}
		}

		.hold-status {
			@include center-vertical-horizontal-absolute();
			top: 25% !important;
			color: $BLU_LT2;
		}
	}
}