.thermostat-single-control-page {
	@extend _default-page;

	.subheader {
		color: #03467C;
		margin-bottom: 44px;

		@media (max-width: $screen-sm-min) {
			margin-bottom: 52px;
		}
	}
}

.tsc-initial-setup {
	margin-bottom: 30px;

	.page-graphic {
		margin-bottom: 60px;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
		height: 225px;
		background: url("/images/icons/myEquipment/tsc.png") no-repeat center; // todo: .png;
		background-size: contain;

		@media (min-width: $screen-md-min) {
			width: 360px;
			height: 270px;
			margin-bottom: 42px;
		}
	}

	.page-prompt {
		color: $GRY3;
		margin-bottom: 50px;

		@media (min-width: $screen-md-min) {
			margin-bottom: 0;
			margin-top: 10px;
		}
	}

	.button {
		margin-top: 20px;

		@media (min-width: $screen-md-min) {
			float: right;
			margin-top: 0;
		}
	}
}

.create-tsc-setup {
	.tsc-name-textbox {
		width: 85%;
		margin-left: 13%;

		@media (min-width: $screen-sm-min) {
			width: 460px;
			margin-left: 8%;
		}
	}

	.equipment-table {
		margin-bottom: 60px;

		@media (min-width: $screen-sm-min) {
			margin-bottom: 48px;
		}

		.checkbox-text {
			left: 40px;
			font-size: 20px;
			width: 85%;
			margin-left: 0;

			@media (min-width: $screen-sm-min){
				font-size: 16px;
			}
			@media (min-width: $screen-xs-min) {
				width: initial;
				margin-left: initial;
			}
 		}
	}

	.equipment-row {
		margin-left: 12%;
		margin-right: 4%;

		@media (min-width: $screen-sm-min) {
			margin-left: 8%;
			margin-right: 8%;
		}

		.salus-checkbox {
			margin-left: 0;

			@media (min-width: $screen-xs-min) {
				margin-left: 20px;
			}
		}
	}

	.bottom-blurb {
		text-align: center;
		font-size: 14px;
		color: $GRY4;

		@media (min-width: $screen-sm-min) {
			text-align: right;
		}
	}

	.section-indicator {
		width: 36px;
		height: 36px;
		padding-top: 4px;
		padding-left: 13px;

		@media (min-width: $screen-sm-min) {
			width: 50px;
			height: 50px;
			padding-left: 19px;
			padding-top: 10px;
		}

		@media (min-width: $screen-md-min) {
			width: 36px;
			height: 36px;
			padding-top: 4px;
			padding-left: 13px;
		}
	}

	.section-title {
		font-size: 18px;
		padding-left: 7px;
		float: left;
		padding-right: 0;

		@media (min-width: $screen-sm-min) {
			font-size: 24px;
			padding-left: 30px;
		}

		@media (min-width: $screen-md-min) {
			font-size: 20px;
			padding-left: 30px;
		}
	}

	.existing-tscs {
		border-top: none;
		margin-top: 0;
		padding-top: 0;
		margin-bottom: 60px;

		@media (min-width: $screen-sm-min) {
			margin-top: 20px;
			margin-bottom: 28px; // ?
			border-top: 1px solid $GRY_LT1;
			border-bottom: 1px solid $GRY_LT1;
			padding-top: 30px;
			padding-bottom: 41px;
		}
	}

	.existing-tsc {
		margin-bottom: 56px;

		@media (min-width: $screen-sm-min) {
			margin-bottom: 30px;
		}

		&:last-of-type {
			margin-bottom: 60px;

			@media (min-width: $screen-sm-min) {
				margin-bottom: 30px;
			}
		}

		.tsc-name {
			font-size: 24px;
			padding-left: 28px;
			height: 75px;
			line-height: 55px;
			background-color: rgba(206, 216, 226, 0.20); // #ced8e2 20%
			padding-top: 9px;
			padding-bottom: 9px;
			margin-bottom: 12px;

			@media (min-width: $screen-sm-min) {
				padding-left: 22px;
				font-size: 18px;
				font-weight: 700;
				color: $GRY3;
				height: 44px;
				line-height: 28px;
			}
		}

		.tsc-devices {
			.tsc-device {
				margin-bottom: 30px;

				@media (min-width: $screen-sm-min) {
					margin-bottom: 24px;
				}

				.thermostat-name {
					font-size: 18px;
					padding-left: 22px;
					color: $GRY3;

					@media (min-width: $screen-sm-min) {
						padding-left: 28px;
						font-size: 24px;
					}

					@media (min-width: $screen-md-min) {
						font-size: 16px;
					}
				}

				&.edit:not(.selected) {
					.thermostat-name {
						padding-left: 50px;

						@media (min-width: $screen-xs-min) {
							padding-left: 66px;
						}
					}
				}

				&:last-of-type {
					margin-bottom: 0;
				}

				&.selected {
					.thermostat-name {
						padding-left: 16px;
						font-weight: bold;
					}
				}

				.check-icon {
					background: url("/images/icons/dashboard/icon_box_checked.svg") no-repeat;
					background-size: contain;
					width: 18px;
					height: 16px;
					margin-left: 12px;

					@media (min-width: $screen-xs-min) {
						margin-left: 28px;
					}
				}
			}
		}

		.delete-tsc {
			margin-top: 39px;
			font-size: 22px;
			margin-left: auto;
			margin-right: auto;

			@media (min-width: $screen-sm-min) {
				margin-left: 53px;
				margin-top: 27px;
			}
		}
	}

	.button-row {
		margin-bottom: 35px;

		@media (min-width: $screen-sm-min) {
			margin-bottom: 15px;
		}
	}

	.empty-list-msg {
		margin-bottom: 30px;
	}

	.edit-button {
		width: 24px;
		height: 24px;
		float: right;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url("/images/icons/myEquipment/icon_edit_blue.svg");
	}

	.add-button button {
		padding-left: 4px;
		padding-right: 4px;
		white-space: normal;
	}
}