.tile {
	.front {
		.smart-plug-tile {
			@include green-gradient-tile-background();

			// smart plug off
			.equipment-icon {
				background-image: url("/images/icons/dashboard/icon_smart_plug_on_white.svg");
			}

			// smart plug on
			&.on {
				@include color-gradient-with-angle(135deg, $TILE-ORANGE-GRADIENT-TOP, -40%, $TILE-ORANGE-GRADIENT-BOTTOM, 170%);

				.equipment-icon {
					background-image: url("/images/icons/dashboard/icon_smart_plug_on_white.svg");
				}
			}

			&.disconnected {
				@include grey-gradient-tile-background();

				.equipment-icon, .switcher {
					opacity: $TILE-DISABLED-OPACITY;
				}
			}
			
			&.no-device {
				@include black-gradient-tile-background();
				
				.equipment-icon, .switcher {
					opacity: $TILE-DISABLED-OPACITY;
				}
			}
			
			.switcher {
				.switcher-image {
					background-image: url("/images/icons/dashboard/switch_2_off.svg");
				}

				&.on {
					.switcher-image {
						background-image: url("/images/icons/dashboard/switch_2_on.svg");
					}
				}
			}
		}

		.water-heater-tile {
			@include green-gradient-tile-background();

			.switcher {
				width: 54%;
				left: 24%;
			}

			&.off {
				.equipment-icon {
					background-image: url("/images/icons/dashboard/icon_water_heater_on_white.svg");
				}
			}

			&.on {
				@include orange-gradient-tile-background();
				
				.equipment-icon {
					background-image: url("/images/icons/dashboard/icon_water_heater_on_white.svg");
				}
			}

			&.disconnected {
				@include grey-gradient-tile-background();

				.equipment-icon, .switcher {
					opacity: $TILE-DISABLED-OPACITY;
				}
			}
			
			&.no-device {
				@include black-gradient-tile-background();
				
				.equipment-icon, .switcher {
					opacity: $TILE-DISABLED-OPACITY;
				}
			}
			
			.switcher {
				&.off {
					.switcher-image {
						background-image: url("/images/icons/dashboard/switch_3_off.svg");
					}
				}

				&.on {
					.switcher-image {
						background-image: url("/images/icons/dashboard/switch_3_on.svg");
					}
				}

				&.auto {
					.switcher-image {
						background-image: url("/images/icons/dashboard/switch_3_auto.svg");
					}
				}
			}
		}
		
		.switcher {
			@include hide-backface();
			width: 41%;
			height: 18%;
			position: absolute;
			top: 73%;
			left: 30%;

			.switcher-background {
				@include hide-backface();
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
			}

			.switcher-image {
				width: 100%;
				height: 100%;
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}

	.back {
		.smart-plug-tile,
		.water-heater-tile {

			&.disconnected {
				.equipment-icon, .equipment-switch {
					opacity: $TILE-DISABLED-OPACITY;
				}
			}
			
			&.no-device {
				.equipment-icon, .equipment-switch {
					opacity: $TILE-DISABLED-OPACITY;
				}
			}

			.equipment-icon {
				position: absolute;
				left: 13px;
				top: 55px; // 144 tile height - 34 item height = 110 / 2
				width: 34px;
				height: 34px;
				background: no-repeat center;
				background-size: contain;
				cursor: default;
			}

			.equipment-switch {
				position: absolute;
				right: 13px;
				top: 59px; // 144 tile height - 26 item height = 118 / 2
				width: 59px;
				height: 26px;
				background: no-repeat center;
				background-size: contain;
			}
		}

		.smart-plug-tile {
            .view-usage {
                margin-top: 60px;
                
            }
			.equipment-icon {
                top: 45px;
				background-image: url("/images/icons/dashboard/icon_smart_plug_on_white.svg");
			}

			.equipment-switch {
				width: 59px;
                top: 49px;
				background-image: url("/images/icons/dashboard/switch_2_off.svg");
				&.on {
					background-image: url("/images/icons/dashboard/switch_2_on.svg");
				}
			}

			&.on {
				.equipment-icon {
					background-image: url("/images/icons/dashboard/icon_smart_plug_on_orange.svg");
				}
			}
		}

		.water-heater-tile {
			.equipment-icon {
				width: 21px;
			}

			.equipment-switch {
				width: 77px;
			}

			&.off {
				.equipment-icon {
					background-image: url("/images/icons/dashboard/icon_water_heater_on_white.svg");
				}
			}

			&.on {
				.equipment-icon {
					background-image: url("/images/icons/dashboard/icon_water_heater_on_orange.svg");
				}
			}
			
			.equipment-switch {
				&.off {
					background-image: url("/images/icons/dashboard/switch_3_off.svg");
				}

				&.on {
					background-image: url("/images/icons/dashboard/switch_3_on.svg");
				}

				&.auto {
					background-image: url("/images/icons/dashboard/switch_3_auto.svg");
				}
			}
		}
	}
}