.tile {
	a {
		@include set-href-states($BLU5, $WHT0, $WHT0);
	}

	.transparent-button {
		&:hover {
			background-color: rgba($WHT0, 0.7);
			color: $TILE-MANAGER-BG;
		}

		&:hover:active {
			background-color: $WHT0;
		}
	}

	.front {
		// this sets the image icon size for all tiles
		.equipment-icon {
			@include hide-backface();
			width: 41%;
			height: 41%;
			position: absolute;
			top: 27%;
			left: 30%;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}

		.rule-tile {
			@include green-gradient-tile-background();

			.equipment-icon {
				background-image: url("/images/icons/dashboard/icon_one_touch.svg");
			}

			&.alerting {
				@include color-gradient-with-angle(135deg, $TILE-RED-GRADIENT-TOP, 0%, $TILE-RED-GRADIENT-BOTTOM, 100%);
			}
		}

		.co-monitor-tile {
			@include green-gradient-tile-background();

			.equipment-icon {
				background-image: url("/images/icons/dashboard/icon_co_monitor.svg");
			}

			&.alerting {
				@include color-gradient-with-angle(135deg, $TILE-RED-GRADIENT-TOP, 0%, $TILE-RED-GRADIENT-BOTTOM, 100%);
			}
		}

		.door-tile {
			@include green-gradient-tile-background();

			.equipment-icon {
				background-image: url("/images/icons/dashboard/icon_door.svg");
			}

			&.open {
				@include orange-gradient-tile-background();
				
				.equipment-icon {
					background-image: url("/images/icons/dashboard/icon_door_open.svg");
				}
			}
		}

		.window-tile {
			@include green-gradient-tile-background();

			.equipment-icon {
				background-image: url("/images/icons/dashboard/icon_window.svg");
			}

			&.open {
				@include orange-gradient-tile-background();
				
				.equipment-icon {
					background-image: url("/images/icons/dashboard/icon_window_open.svg");
				}
			}
		}

		.smoke-detector-tile {
			@include green-gradient-tile-background();

			.equipment-icon {
				background-image: url("/images/icons/dashboard/icon_smoke_detector.svg");
			}

			&.alerting {
				@include color-gradient-with-angle(135deg, $TILE-RED-GRADIENT-TOP, 0%, $TILE-RED-GRADIENT-BOTTOM, 100%);
			}
		}

		.energy-meter-tile {
			@include green-gradient-tile-background();

			.equipment-icon {
				background-image: url("/images/icons/dashboard/icon_energy_monitor.svg");
			}

			&.alerting {
				@include color-gradient-with-angle(135deg, $TILE-RED-GRADIENT-TOP, 0%, $TILE-RED-GRADIENT-BOTTOM, 100%);
			}
		}

		.wud-tile {
			@include green-gradient-tile-background();

			.equipment-icon {
				background-image: url("/images/icons/dashboard/icon_wud.svg");
			}

			&.alerting {
				@include color-gradient-with-angle(135deg, $TILE-RED-GRADIENT-TOP, 0%, $TILE-RED-GRADIENT-BOTTOM, 100%);
			}
		}

		.equipment-tile {
			@include green-gradient-tile-background();

			&.alerting {
				@include color-gradient-with-angle(135deg, $TILE-RED-GRADIENT-TOP, 0%, $TILE-RED-GRADIENT-BOTTOM, 100%);
			}
		}

		.gateway-tile {
			@include green-gradient-tile-background();

			&.offline {
				@include grey-gradient-tile-background();

				.active-status {
					display: none !important;
				}

				.equipment-icon {
					background-image: url("/images/icons/dashboard/icon_no_connection.svg");
				}
			}

			.equipment-icon {
				background-image: url("/images/icons/dashboard/icon_wifi.svg");
			}

			.active-status {
				position: absolute;
				width: 28px;
				height: 28px;
				top: 45px;
				left: 87px;
				background: no-repeat center;
				background-size: contain;

				&.active {
					// TODO: used color picker for these...
					border: 3px solid #63AF0A;
					border-radius: 50%;
					background-color: #63AF0A;
					background-image: url("/images/icons/dashboard/icon_circle_check_blue.svg");
				}
			}
		}
		
		.tile-content-view {
			&.disconnected {
				@include grey-gradient-tile-background();

				.equipment-icon {
					opacity: $TILE-DISABLED-OPACITY;
				}
			}
			
			&.no-device {
				@include black-gradient-tile-background();

				.equipment-icon {
					opacity: $TILE-DISABLED-OPACITY;
				}
			}
			
			&.not-visible {
				visibility: hidden !important;
			}
		}
	}

	.back {
		font-size: 10px;
		color: $WHT0;

		.battery-wrapper {
			height: 18px;
			margin-top: 25px;
			margin-bottom: 15px;

			.battery-text {
				float: left;
				margin-top: 2px;
				margin-left: 22px;
				height: 18px;
			}

			.battery-icon {
				float: left;
				width: 27px;
				height: 14px;
				margin-top: 2px;
				margin-left: 15px;
			}
		}

		.battery-monitor-separator {
			border-top: 1px solid rgba(255, 255, 255, 0.5);
			margin-left: 9px;
			margin-right: 9px;
		}

		.monitoring-wrapper {
			height: 18px;
			margin-top: 15px;
			margin-bottom: 15px;

			.monitoring-text {
				float: left;
				margin-top: 2px;
				margin-left: 22px;
				height: 18px;
			}

			.monitoring-icon {
				float: right;
				width: 18px;
				height: 18px;
				margin-right: 22px;
				background: url("/images/icons/icon_check_green.svg") no-repeat center;
				background-size: contain;

				&.not-monitoring {
					// todo: placeholder icon but fits well
					background-image: url("/images/icons/icon_alert_red.svg");
				}
			}
		}

		.view-usage {
			height: 25px;
			border: 1px solid white;
			border-radius: 3px;
			width: 70%;
			margin-top: 15px;
			padding-top: 4px;
		}
	}
}
