<div class=" container">
	<div class="row title-row">
		<h1 id="bb-page-tile" class="col-xs-12"></h1>
		<div id="bb-page-sub-header" class="col-xs-12 sub-header"></div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
			<div id="bb-instruction-box-container" class="row"></div>
		</div>
	</div>
</div>
