<div class="row detail-and-status-regions">
	<div class="col-xs-12 col-sm-8 bb-detail-region"></div>
	<div class="col-xs-12 col-sm-4 bb-status-region"></div>
</div>
<div class="row">
	<div class="col-xs-12 bb-criteria-region criteria-region"></div>
</div>