<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
</head>
<body style="margin: 0; padding: 0; font-family: 'Open Sans', Helvetica, Arial, sans-serif;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
	<tr>
		<td style="padding: 10px 0 30px 0;">
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #B0BEC5; border-collapse: collapse;" width="620">
				<tbody>
				<tr>
					<td align="center" bgcolor="white" style="padding: 51px 10px 26px 10px; font-size: 28px; font-weight: bold;">
						[[logo_image]]
					</td>
				</tr>
				<% if (locals.title) { %><tr>
					<td align="center" bgcolor="#01467C" style="height: 56px; margin: auto auto; padding: 0 52px; color: white; font-size: 24px;">
						<%= title %>
					</td>
				</tr><% } %>