<div class="date-picker-instruction" data-i18n="equipment.oneTouch.menus.when.dayOfWeek.finalMenu"></div>
<div class="button-container margin-b-15">
	<div class="bb-day-of-week-btn day-of-week-btn <%= sun ? 'selected' : '' %>" data-i18n="common.daysOfWeek.abbreviations.sunday" data-day="sun"></div>
	<div class="bb-day-of-week-btn day-of-week-btn <%= mon ? 'selected' : '' %>" data-i18n="common.daysOfWeek.abbreviations.monday" data-day="mon"></div>
	<div class="bb-day-of-week-btn day-of-week-btn <%= tues ? 'selected' : '' %>" data-i18n="common.daysOfWeek.abbreviations.tuesday" data-day="tues"></div>
	<div class="bb-day-of-week-btn day-of-week-btn <%= wed ? 'selected' : '' %>" data-i18n="common.daysOfWeek.abbreviations.wednesday" data-day="wed"></div>
	<div class="bb-day-of-week-btn day-of-week-btn <%= thur ? 'selected' : '' %>" data-i18n="common.daysOfWeek.abbreviations.thursday" data-day="thur"></div>
	<div class="bb-day-of-week-btn day-of-week-btn <%= fri ? 'selected' : '' %>" data-i18n="common.daysOfWeek.abbreviations.friday" data-day="fri"></div>
	<div class="bb-day-of-week-btn day-of-week-btn <%= sat ? 'selected' : '' %>" data-i18n="common.daysOfWeek.abbreviations.saturday" data-day="sat"></div>
</div>