

<div class="window-sensor-rule-top">
    
    <div style="overflow:hidden;">
        <div class="window-sensor-icon pull-left"></div>
        <div class="page-title pull-left" data-i18n="equipment.windowSensor.title"></div>
    </div>
    
    <div class="desc">
        <div class="desc-item">
            <div class="open-desc-1 pull-left" data-i18n="equipment.oneTouch.recommended.windowMonitor.windowOpen.name"></div><div class="pull-left" style="margin: 0 5px;">-</div><div class="open-desc-2 pull-left" data-i18n="equipment.oneTouch.recommended.windowMonitor.windowOpen.description"></div>
        </div>
        <div class="desc-item">
            <div class="closed-desc-1 pull-left" data-i18n="equipment.oneTouch.recommended.windowMonitor.windowClosed.name"></div><div class="pull-left" style="margin: 0 5px;">-</div><div class="closed-desc-2 pull-left" data-i18n="equipment.oneTouch.recommended.windowMonitor.windowClosed.description"></div>
        </div>
    </div>
    
    <div class="select-rule">
        <div class="pull-left col-xs-9 col-sm-6" data-i18n="equipment.windowSensor.selectText"></div>
        <div class="bb-checkbox col-xs-3"></div>
    </div>
    
</div>

<div class="window-sensor-text" data-i18n="equipment.windowSensor.text"></div>

<!--<div class="select-rule22 row">
    <div class="rule-item col-xs-12 col-sm-6">
        <div class="onetouch-name" data-i18n="equipment.oneTouch.recommended.windowMonitor.windowOpen.name"></div>
        <div class="onetouch-description" data-i18n="equipment.oneTouch.recommended.windowMonitor.windowOpen.description"></div>
        <div>
            <div class="onetouch-change pull-left" data-i18n="equipment.oneTouch.menus.doThis.propertyChange.changeLockSettings"></div>
            <div class="bb-window-open-checkbox pull-left"></div>
        </div>
    </div>
    <div class="rule-item col-xs-12 col-sm-6">
        <div class="onetouch-name" data-i18n="equipment.oneTouch.recommended.windowMonitor.windowClosed.name"></div>
        <div class="onetouch-description" data-i18n="equipment.oneTouch.recommended.windowMonitor.windowClosed.description"></div>
        <div>
            <div class="onetouch-change pull-left" data-i18n="equipment.oneTouch.menus.doThis.propertyChange.changeLockSettings"></div>
            <div class="bb-window-close-checkbox pull-left"></div>
        </div>
    </div>
</div>-->
<div class="bb-equipment-available"></div>
<div class="row margin-b-20">
	<div class="bb-save-button col-sm-2 col-xs-10 margin-b-15 col-xs-pull-1 col-sm-pull-0 pull-right"></div>
	<div class="bb-cancel-button col-sm-2 col-xs-10 margin-b-15 col-xs-pull-1 col-sm-pull-0 pull-right"></div>
</div>
