<div class="bb-timer-content">
	<div class="header-row col-xs-12">
		<div class="bb-timer-title timer-title" data-i18n="equipment.oneTouch.menus.thenDoThis.timer.title"></div>
	</div>
	<div class="timer-content col-xs-12">
		<div class="bb-hour-set-row timer-row row">
			<div class="timer-hours col-xs-6 timer-row-parent">
				<div class="timer-row-child" data-i18n="equipment.oneTouch.menus.thenDoThis.timer.hours"></div>
			</div>
			<div class="bb-hour-input timer-input col-xs-6 timer-height"></div>
		</div>
		<div class="bb-minute-set-row timer-row row">
			<div class="timer-minutes col-xs-6 timer-row-parent">
				<div class="timer-row-child" data-i18n="equipment.oneTouch.menus.thenDoThis.timer.minutes"></div>
			</div>
			<div class="bb-minute-input timer-input col-xs-6 timer-height"></div>
		</div>
	</div>
	<div class="timer-change-check-box col-xs-12">
		<div class="bb-timer-change-checkbox check-box"></div>
	</div>
</div>