<div class="row header-row margin-b-30">
	<h1 class="h1 col-xs-12" data-i18n="equipment.oneTouch.automations.title"></h1>
	<h4 class="col-xs-12 bb-no-gateway-text no-gateway-text margin-b-10 hidden" data-i18n="myStatus.noGatewayMessage"></h4>
</div>
<div class="bb-automations-region">
	<div class="spinner center-block"></div>
</div>
<div class="bb-recommended-region"></div>