<div class="bb-condition-action-type condition-action-type"></div>
<div class="bb-condition-action-description condition-action-description"></div>
<div role="button" class="bb-delete-button delete-button"></div>