<div role="button" class="bb-menu-header menu-header">
	<div class="bb-header-text header-text"></div>
	<div class="bb-header-icon header-icon plus"></div>
</div>
<div class="bb-menu-items menu-items hidden"></div>
<div class="bb-unique-view-container hidden"></div>
<div class="row button-row">
	<div class="bb-back-button margin-b-15 back-button hidden col-xs-12"></div>
	<div class="bb-finished-button margin-b-15 finished-button hidden"></div>
</div>