<h3 data-i18n="equipment.thermostatSingleControl.initialSetup.title" class="subheader col-xs-12"></h3>
<div class="col-xs-12">
	<div class="page-graphic"></div>
</div>
<div class="col-xs-12">
	<div class="row">
		<div class="page-prompt font-size-17 font-semi-bold col-xs-12 col-md-6" data-i18n="equipment.thermostatSingleControl.initialSetup.prompt"></div>
		<div class="bb-button-yes button col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-0"></div>
		<div class="bb-button-no button col-xs-8 col-xs-offset-2 col-md-3 col-md-offset-0"></div>
	</div>
</div>



