<div class="logo"></div>
<div>
    <h5 data-i18n="legal.privacyPolicy.title"></h5>
    <h5 data-i18n="legal.privacyPolicy.summary"></h5>
    <section class="scope">
        <h5 data-i18n="legal.privacyPolicy.scope.title"></h5>
        <p data-i18n="legal.privacyPolicy.scope.part1"></p>
        <p data-i18n="legal.privacyPolicy.scope.part2"></p>
    </section>
    <section class="information">
        <h5 data-i18n="legal.privacyPolicy.information.title"></h5>
        <p data-i18n="legal.privacyPolicy.information.part1"></p>
        <p data-i18n="legal.privacyPolicy.information.part2.content"></p>
        <ul>
            <li><p data-i18n="legal.privacyPolicy.information.part2.subItem1"></p></li>
            <li><p data-i18n="legal.privacyPolicy.information.part2.subItem2"></p></li>
            <li><p data-i18n="legal.privacyPolicy.information.part2.subItem3"></p></li>
            <li><p data-i18n="legal.privacyPolicy.information.part2.subItem4"></p></li>
            <li><p data-i18n="legal.privacyPolicy.information.part2.subItem5"></p></li>
        </ul>
        <p data-i18n="legal.privacyPolicy.information.part3"></p>
    </section>
    <section class="use">
        <h5 data-i18n="legal.privacyPolicy.use.title"></h5>
        <p data-i18n="legal.privacyPolicy.use.part1.content"></p>
        <ul>
            <li><p data-i18n="legal.privacyPolicy.use.part1.subItem1"></p></li>
            <li><p data-i18n="legal.privacyPolicy.use.part1.subItem2"></p></li>
            <li><p data-i18n="legal.privacyPolicy.use.part1.subItem3"></p></li>
            <li><p data-i18n="legal.privacyPolicy.use.part1.subItem4"></p></li>
        </ul>
    </section>
    <section class="collection">
        <h5 data-i18n="legal.privacyPolicy.collection.title"></h5>
        <p data-i18n="legal.privacyPolicy.collection.part1.content"></p>
        <ul>
            <li><u data-i18n="legal.privacyPolicy.collection.part1.subItem1.start"></u><p data-i18n="legal.privacyPolicy.collection.part1.subItem1.content"></p></li>
            <li><u data-i18n="legal.privacyPolicy.collection.part1.subItem2.start"></u><p data-i18n="legal.privacyPolicy.collection.part1.subItem2.content"></p></li>
        </ul>
        <p data-i18n="legal.privacyPolicy.collection.part2"></p>
    </section>
    <section class="cookies">
        <h5 data-i18n="legal.privacyPolicy.cookies.title"></h5>
        <p data-i18n="legal.privacyPolicy.cookies.part1"></p>
        <p data-i18n="legal.privacyPolicy.cookies.part2"></p>
        <p data-i18n="legal.privacyPolicy.cookies.part3"></p>
        <br>
        <table border="1">
            <tr>
                <td data-i18n="legal.privacyPolicy.cookies.table.thead.col1"></td>
                <td data-i18n="legal.privacyPolicy.cookies.table.thead.col2"></td>
            </tr>
            <tr>
                <td>
                    <p data-i18n="legal.privacyPolicy.cookies.table.row1.col1.item1"></p>
                    <p class="special" data-i18n="legal.privacyPolicy.cookies.table.row1.col1.item2"></p>
                    <p data-i18n="legal.privacyPolicy.cookies.table.row1.col1.item3"></p>
                    <p data-i18n="legal.privacyPolicy.cookies.table.row1.col1.item4"></p>
                </td>
                <td><p data-i18n="legal.privacyPolicy.cookies.table.row1.col2"></p></td>
            </tr>
            <tr>
                <td>
                    <p data-i18n="legal.privacyPolicy.cookies.table.row2.col1.item1"></p>
                    <p class="special" data-i18n="legal.privacyPolicy.cookies.table.row2.col1.item2"></p>
                    <p data-i18n="legal.privacyPolicy.cookies.table.row2.col1.item3"></p>
                </td>
                <td><p data-i18n="legal.privacyPolicy.cookies.table.row2.col2"></p></td>
            </tr>
            <tr>
                <td>
                    <p data-i18n="legal.privacyPolicy.cookies.table.row3.col1.item1"></p>
                    <p class="special" data-i18n="legal.privacyPolicy.cookies.table.row3.col1.item2"></p>
                    <p data-i18n="legal.privacyPolicy.cookies.table.row3.col1.item3"></p>
                    <p data-i18n="legal.privacyPolicy.cookies.table.row3.col1.item4"></p>
                </td>
                <td><p data-i18n="legal.privacyPolicy.cookies.table.row3.col2"></p></td>
            </tr>
        </table>
        <br>
        <p data-i18n="legal.privacyPolicy.cookies.part4"></p>
    </section>
    <section class="online">
        <h5 data-i18n="legal.privacyPolicy.online.title"></h5>
        <p data-i18n="legal.privacyPolicy.online.part1"></p>
    </section>
    <section class="where">
        <h5 data-i18n="legal.privacyPolicy.where.title"></h5>
        <p data-i18n="legal.privacyPolicy.where.part1"></p>
        <p data-i18n="legal.privacyPolicy.where.part2"></p>
        <p data-i18n="legal.privacyPolicy.where.part3"></p>
    </section>
    <section class="uses">
        <h5 data-i18n="legal.privacyPolicy.uses.title"></h5>
        <p data-i18n="legal.privacyPolicy.uses.part1.content"></p>
        <ul>
            <li><p data-i18n="legal.privacyPolicy.uses.part1.subItem1"></p></li>
            <li><p data-i18n="legal.privacyPolicy.uses.part1.subItem2"></p></li>
            <li><p data-i18n="legal.privacyPolicy.uses.part1.subItem3"></p></li>
            <li><p data-i18n="legal.privacyPolicy.uses.part1.subItem4"></p></li>
            <li><p data-i18n="legal.privacyPolicy.uses.part1.subItem5"></p></li>
            <li><p data-i18n="legal.privacyPolicy.uses.part1.subItem6"></p></li>
        </ul>
        <p data-i18n="legal.privacyPolicy.uses.part2"></p>
        <p data-i18n="legal.privacyPolicy.uses.part3"></p>
    </section>   
    <section class="disclosure">
        <h5 data-i18n="legal.privacyPolicy.disclosure.title"></h5>
        <p data-i18n="legal.privacyPolicy.disclosure.part1.content"></p>
        <p data-i18n="legal.privacyPolicy.disclosure.part2.content"></p>
        <ul>
            <li><i data-i18n="legal.privacyPolicy.disclosure.part2.subItem1.start"></i><p data-i18n="legal.privacyPolicy.disclosure.part2.subItem1.content"></p></li>
            <li><i data-i18n="legal.privacyPolicy.disclosure.part2.subItem2.start"></i><p data-i18n="legal.privacyPolicy.disclosure.part2.subItem2.content"></p></li>
            <li><i data-i18n="legal.privacyPolicy.disclosure.part2.subItem3.start"></i><p data-i18n="legal.privacyPolicy.disclosure.part2.subItem3.content"></p></li>
        </ul>
    </section>
    <section class="access">
        <h5 data-i18n="legal.privacyPolicy.access.title"></h5>
        <p data-i18n="legal.privacyPolicy.access.part1"></p>
        <p data-i18n="legal.privacyPolicy.access.part2"></p>
    </section>
    <section class="changes">
        <h5 data-i18n="legal.privacyPolicy.changes.title"></h5>
        <p data-i18n="legal.privacyPolicy.changes.part1"></p>
    </section>
    <section class="contact">
        <h5 data-i18n="legal.privacyPolicy.contact.title"></h5>
        <p data-i18n="legal.privacyPolicy.contact.part1"></p>
    </section>
</div>
<div class="back-button-region"></div>
