<div class="row header">
	<h3 class="col-xs-12" data-i18n="schedules.title"></h3>
	<h4 class="col-xs-12" data-i18n="schedules.presets.title"></h4>
</div>

<div class="col-xs-12 description-text" data-i18n="schedules.presets.description"></div>

<div class="row preset-item">
	<div class="col-xs-4 col-sm-3 image bb-work-week"></div>
	<div class="col-xs-6 col-sm-8">
		<div class="col-xs-12 title-text font-semi-bold" data-i18n="schedules.presets.presetSchedules.workingWeek.title"></div>
		<div class="col-xs-12 description" data-i18n="schedules.presets.presetSchedules.workingWeek.description"></div>
	</div>
	<input type="radio" name="presetSchedule">
</div>

<div class="row preset-item">
	<div class="col-xs-4 col-sm-3 image bb-mostly-away"></div>
	<div class="col-xs-6 col-sm-8">
		<div class="title-text font-semi-bold" data-i18n="schedules.presets.presetSchedules.mostlyAway.title"></div>
		<div class="description" data-i18n="schedules.presets.presetSchedules.mostlyAway.description"></div>
	</div>
	<input type="radio" name="presetSchedule">
</div>

<div class="row preset-item">
	<div class="col-xs-4 col-sm-3 image bb-mostly-home"></div>
	<div class="col-xs-6 col-sm-8">
		<div class="title-text font-semi-bold" data-i18n="schedules.presets.presetSchedules.mostlyHome.title"></div>
		<div class="description" data-i18n="schedules.presets.presetSchedules.mostlyHome.description"></div>
	</div>
	<input type="radio" name="presetSchedule">
</div>

<div class="row preset-item">
	<div class="col-xs-4 col-sm-3 image bb-create-new"></div>
	<div class="col-xs-6 col-sm-8">
		<div class="title-text font-semi-bold" data-i18n="schedules.presets.presetSchedules.createNew.title"></div>
		<div class="description" data-i18n="schedules.presets.presetSchedules.createNew.description"></div>
	</div>
	<input type="radio" name="presetSchedule">
</div>


