<div class="row">
	<div class="col-xs-12">
		<div class="bb-settings-button settings-button">
			<div class="folded-corner"></div>
			<div class="gear-icon"></div>
		</div>
	</div>
</div>

<div class="absolute-bottom row">
	<div class="bb-gateway-info pull-left absolute-bottom col-sm-10 col-xs-9"></div>
	<div class="bb-weather col-xs-3 col-sm-2 pull-right"></div>
</div>