<div class="col-xs-12">
	<div role="button" tabindex="0" id="bb-settings-close-button" class="pull-right settings-close-button"></div>
</div>
<div tabindex="0" role="button" id="bb-top-button-region" class="col-xs-12 settings-menu-btn-region"></div>
<div tabindex="0" role="button" id="bb-bottom-button-region" class="col-xs-12 settings-menu-btn-region"></div>