<div class="row">
	<div class="col-xs-12 page-header">
		<h1 class="h1" data-i18n="settings.dataCollection.title"></h1>
		<h5 class="bb-data-collection-info h5" data-i18n="settings.dataCollection.subheader"></h5>
	</div>
</div>

<div class="row margin-b-40">
	<div class="col-xs-12">
		<div class="row data-collection-option">
			<div class="col-xs-2 col-sm-1 data-collection-option">
				<div class="bb-has-collection-on"></div>
			</div>
			<div class="col-xs-10 col-sm-11">
				<div class="data-collection-option-header">
					<span data-i18n="settings.dataCollection.options.optionPrefix"></span>
					<span class="data-collection-option-label" data-i18n="common.labels.on"></span>
				</div>
				<div class="data-collection-option-subtext" data-i18n="settings.dataCollection.options.on"></div>
			</div>
		</div>
		<div class="row data-collection-option">
			<div class="col-xs-2 col-sm-1">
				<div class="bb-has-collection-off"></div>
			</div>
			<div class="col-xs-10 col-sm-11">
				<div class="data-collection-option-header">
					<span data-i18n="settings.dataCollection.options.optionPrefix"></span>
					<span class="data-collection-option-label" data-i18n="common.labels.off"></span>
				</div>
				<div class="data-collection-option-subtext margin-b-15" data-i18n="settings.dataCollection.options.off"></div>
				<div class="data-collection-option-subtext" data-i18n="settings.dataCollection.options.referUserGuide"></div>
			</div>
		</div>
	</div>

</div>
<div class="row">
	<div class="col-xs-12 bb-save-button save-button"></div>
</div>