<div class="col-xs-2 center-vertical-relative">
	<div class="clock-icon margin-auto"></div>
</div>
<div class="col-xs-10 col-sm-7 text-wrapper">
	<div class="font-semi-bold" data-i18n="equipment.myEquipment.categories.schedules.scheduleText"></div>
	<div class="bb-schedules-subtext schedules-subtext"></div>
</div>
<div class="col-xs-12 col-sm-3 schedules-button center-vertical-relative">
	<div class="bb-schedules-button"></div>
</div>