<div class="bb-group-tile-background tile-shadow relative-size-1x1 width100">
	<div class="absolute-fill">
		<div class="bb-device-name device-name"></div>
		<div class="bb-device-alert-icon device-alert-icon hidden"></div>
		<div class="bb-pin-to-dashboard pin-to-dashboard"></div>
	</div>
</div>