<div id="bb-groups-region" class="groups-region"></div>
<div class="ungrouped-header" data-i18n="equipment.myEquipment.groups.ungrouped"></div>
<div id="bb-devices-region" class="devices-region">
	<div class="spinner center-block"></div>
</div>