<% if (!hideErrorTriangle) { %>
<div class="error-label-wrapper">
	<div class="bb-error-label error-label error-component"></div>
	<div class="glyphicon glyphicon-triangle-bottom error-component"></div>
</div>
<% } %>

<% if (iconPath && iconPath.length > 0) {%>
<div class="input-group salus-input-group-overrides salus-icon-text-box">
			<span class="input-group-addon <%= labelClass %> bb-label-wrapper" id="<%= labelId %>">
				<img src="<%= iconPath %>" alt="<%= iconAlt %>">
			</span>
	<input type="<%= inputType%>" class="form-control <%= inputClass %>" placeholder="<%= inputPlaceholder %>"
		   aria-describedby="<%= labelId %>" required="<%= isRequired %>">
</div>
<% } else if (overlayedUnits) { %>
<div class="input salus-input-overrides input-container">
	<input type="<%= inputType %>" class="form-control <%= inputClass %> " placeholder="<%= inputPlaceholder %>"
		   aria-describedby="<%= labelId %>" required="<%= isRequired %>">
	<div class="bb-overlayed-units overlayed-units"><%=overlayedUnits%></div>
</div>
<% } else if (hideArrows) { %>
<div class="input salus-input-overrides input-container">
	<input type="<%= inputType %>" class="form-control <%= inputClass %>" placeholder="<%= inputPlaceholder %>"
	       aria-describedby="<%= labelId %>" required="<%= isRequired %>">
</div>
<% } else { %>
<div class="input salus-input-overrides">
	<input type="<%= inputType %>" class="form-control <%= inputClass %>" placeholder="<%= inputPlaceholder %>"
		   aria-describedby="<%= labelId %>" required="<%= isRequired %>">
</div>
<% } %>