<div class="row">
	<div class="col-xs-offset-2 col-xs-8">
		<h3 class="text-center" data-i18n="login.changePasswordWithToken.message"></h3>
	</div>
	<div class="bb-token-input-el-placeholder"></div>
	<div class="bb-first-password-input-el-placeholder"></div>
	<div class="bb-second-password-input-el-placeholder"></div>
	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center">
		<div class="bb-save-new-password-btn-container save-new-password-btn-container"></div>
	</div>
</div>