<h1 class="h1 margin-b-20 margin-t-0" data-i18n="myStatus.newStatus.createStatusTitle"></h1>
<div class="row margin-b-30">
	<div data-i18n="col-xs-12 equipment.oneTouch.subtitle"></div>
</div>
<div class="row">
	<div class="section-indicator col-xs-1">1</div>
	<div class="section-title col-xs-9 col-sm-11" data-i18n="myStatus.newStatus.giveStatusName"></div>
</div>
<div class="row margin-b-50">
	<div class="status-name-textbox col-xs-11 col-sm-6 col-xs-offset-1  bb-status-name"></div>
</div>
<div class="row margin-b-20">
	<div class="section-indicator col-xs-1">2</div>
	<div class="section-title col-xs-9 col-sm-11" data-i18n="myStatus.newStatus.selectIcon"></div>
</div>
<div id="IT600" class="hidden">
	<div class="row">
		<div class="col-xs-offset-1 select-instruction-text" data-i18n="myStatus.newStatus.selectIconInstructions1"></div>
	</div>
	<div class="row margin-r-50">
		<div class="col-xs-12 col-xs-offset-1 bb-myStatus-IT-collection"></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-offset-1 select-instruction-text" data-i18n="myStatus.newStatus.selectIconInstructions2"></div>
</div>
<div class="row tile-collection">
	<div class="bb-myStatus-collection col-xs-12 col-sm-11 col-sm-offset-1"></div>
</div>
<div class="row margin-b-50 bb-myStatus-icons-toggle myStatus-icons-toggle">
	<div class="toggle-button center-horizontal-absolute">
		<div class="bb-toggle toggle expand-down"></div>
		<div class="bb-toggle-text toggle-text" data-i18n="myStatus.newStatus.showMoreIcons"></div>
	</div>
</div>
<div class="row margin-b-30 ">
	<div class="bb-submit-button submit-button col-sm-3 col-xs-10 col-xs-offset-1 col-sm-offset-0"></div>
	<div class="bb-cancel-button cancel-button col-sm-3 col-xs-10 col-xs-offset-1 col-sm-offset-0"></div>
</div>
