<div class="col-xs-12">
	<div class="row bb-collapsed-view">
		<div class="col-xs-12 col-sm-3 device-name"><%= user_name %></div>
		<div class="col-xs-12">
			<span data-i18n="common.labels.email"></span>
			<span class="user-email">: <%= user_email %></span>
		</div>
	</div>
	<div class="row bb-edit-region"></div>
</div>