<p class="font-size-14" data-i18n="settings.manageDevices.gateway.description"></p>
<ul id="bb-gateway-table" class="list-unstyled list-table gateway-table"></ul>
<div id="bb-new-gateway" class="new-gateway row"></div>
<div class="bb-add-gateway add-gateway">
	<span class="add-gateway-text" data-i18n="settings.manageDevices.gateway.addGateway"></span><span class="icon-add"></span>
</div>
