<div class="col-xs-2 bb-history-date" data-sort="DATE"></div>
<div class="col-xs-2 bb-history-time" data-sort="TIME"></div>
<div class="col-xs-4 bb-history-user" data-sort="USER"></div>
<div class="col-xs-4 bb-history-event" data-sort="EVENT"></div>