<div class="bb-equipment-icon equipment-icon center-block"></div>
<div class="battery-row row">
	<div class="col-xs-6 padding-0">
		<div class="bb-battery-text battery-text pull-left"></div>
	</div>
	<div class="col-xs-6 padding-0">
		<div class="bb-battery-icon battery-icon pull-right"></div>
	</div>
</div>