<div class="bb-equipment-icon equipment-icon pull-left"></div>
<div role="button" class="bb-status-switcher status-switcher pull-right"></div>

<div class="bb-hotwater-lock-row hotwater-lock-row row margin-t-10">
	<div class="col-xs-9">
		<div class="bb-hotwater-lock-text hotwater-lock-text text-left"></div>
	</div>
	<div class="col-xs-3">
		<div role="button" class="bb-hotwater-lock-icon hotwater-lock-icon pull-right"></div>
	</div>
</div>