<div class="banner-content-wrapper row">
	<div class="alert-icon col-xs-12 col-sm-1"></div>
    <div id="bb-cookie-info" class="cookie-info col-xs-10 col-sm-7 col-md-10">

    </div>
	<div class="bb-accept-button-region accept-button-region col-xs-12 col-sm-1 pull-right"></div>
</div>