<div class="container-fluid dashboard">
	<h1>Navigation</h1>
	<h2>build: <%= build.buildNumber %></h2>
	<ul>
		<h3>Login</h3>
		<li><a href="/">login/welcome</a></li>
		<li><a href="/login/signIn">login/signIn</a></li>
		<li><a href="/login/forgotPassword">login/forgotPassword</a></li>
		<li><a href="/login/changePasswordWithToken">login/changePasswordWithToken</a></li>
		<li><a href="/login/signInWithToken">login/signInWithToken</a></li>
	</ul>
	<ul>
		<h3>Setup</h3>
		<li><a href="/setup">setup</a></li>
		<li><a href="/setup/gateway">setup/gateway</a></li>
		<li><a href="/setup/provision">setup/provision</a></li>
	</ul>

	<ul>
		<h3>Settings</h3>
		<li><a href="/settings/manageDevices">settings/manageDevices</a></li>
		<li><a href="/settings/dataCollection">settings/dataCollection</a></li>
	</ul>

	<ul>
		<h3>Equipment</h3>
		<li><a href="/equipment/myEquipment">myEquipment</a></li>
		<li><a href="/equipment/tsc">Thermostat Single Control</a></li>
	</ul>

	<ul>
		<h3>Schedule</h3>
		<li><a href="/schedules/presets">Schedule Presets</a></li>
		<li><a href="/schedules/thermostat">Thermostats</a></li>
		<li><a href="/schedules/waterHeater">Water Heaters</a></li>
		<li><a href="schedules/smartPlug">Smart Plugs</a></li>
	</ul>

	<ul>
		<h3>One Touch</h3>
		<li><a href="/oneTouch">oneTouch</a></li>
		<li><a href="/oneTouch/pin">Pin oneTouch</a></li>
		<li><a href="/myStatus">My Status</a></li>
	</ul>

	<ul>
		<h3>?</h3>
		<li><a href="/newUser">newUser</a></li>
		<li><a href="/dashboard">dashboard</a></li>
		<li><a href="/pinpad">pinpad</a></li>
		<li><a href="/404">404</a></li>
		<li><a href="/equipment/messageCenter" data-i18n="common.header.messageCenter"></a></li>
	</ul>

	<button class="bb-send-log-btn hidden">Send Error Logs</button>
</div>
