<div class="bb-hook-for-hiding-back">
	<div class="tile-header-container">
		<a class="bb-title-text bb-back-tile-title title-text" href="/equipment/myEquipment/<%= dsn %>"></a>
		<div role="button" class="bb-flip-button close-button"></div>
	</div>
	<div class="battery-wrapper">
		<div class="bb-battery-text battery-text"></div>
		<div class="bb-battery-icon battery-icon"></div>
	</div>
	<div class="battery-monitor-separator"></div>
	<div class="monitoring-wrapper">
		<div class="bb-monitoring-text monitoring-text" data-i18n="equipment.status.monitoring"></div>
		<div class="bb-monitoring-icon monitoring-icon"></div>
	</div>
	<div role="button" class="bb-pin-icon pin-icon"></div>
</div>