<div class="select-equipment" data-i18n="setupWizard.provisioning.select.select"></div>
<div class="bb-select-equipment-error select-equipment-error hidden" data-i18n="setupWizard.provisioning.select.selectError"></div>
<div class="bb-provision-list provision-list"></div>
<div class="bb-spinner-hook"></div>