<div class="row">
	<div class="check-container col-xs-2 col-sm-offset-1">
		<div class="bb-check check checked"></div>
	</div>
	<div class="name-container col-xs-9">
		<div class="bb-one-touch-name one-touch-name"></div>
	</div>
	<div class="description-container col-xs-9 col-xs-offset-2 col-sm-offset-3">
		<div class="bb-one-touch-description one-touch-description"></div>
	</div>
</div>