<section class="panel panel-default">
	<header class="bb-widget-header equipment-widget-header">
		<div class="bb-widget-header-icon-left widget-header-icon-left pull-left"></div>
		<div class="bb-widget-header-text widget-header-text"></div>
		<div role="button" class="bb-widget-header-icon-right widget-header-icon-right pull-right"></div>
	</header>
	<div class="bb-widget-content-region panel-body-widget panel-body">
		<div class="spinner center-block"></div>
	</div>
</section>