<button class="btn btn-default dropdown-toggle dropdown-button form-control preserve-case"
		id="<%= id %>"
		type="button"
		data-toggle="dropdown"
		aria-haspopup="true"
		aria-expanded="false">
    <label class="float-label" data-i18n="<%= labelTextKey %>"></label>
	<span class="pull-left" data-i18n="<%= dropdownLabelKey %>"><%= dropdownLabelText %></span>
	<span class="salus-caret caret pull-right"></span>
</button>
<ul class="dropdown-menu bb-dropdown-item-container" aria-labelledby="<%= id %>"></ul>
